{% extends 'account/base.html' %}
{% block content %}
{% include 'account/tulisan.html' %}

<table>
	<tr><th class="judul">Agenda</th></tr>
	<tr >
		<th style="border-top: 0;"><button><a href="{% url 'create-agenda' %}">Tambah</a></button></th>
	</tr>
	<tr>
		<th>No</th>
		<th>Hari Dan Tanggal</th>
		<th>Waktu</th>
		<th>Agenda</th>
		<th>Tempat</th>
		<th>Aksi</th>
	</tr>
	{% for a in agenda %}
	<tr>   
		<td>{{ forloop.counter }}</td>
		<td>{{ a.hari_waktu}}</td>
		<td>{{ a.hari_waktu }}</td>
		<td>{{ a.agenda }}</td>
		<td>{{ a.tempat }}</td>
		<td><button><a href="{% url 'update-agenda' a.id_agenda %}">Ubah</a></button><button style="margin-left: 2px; background-color: maroon;"><a href="{% url 'delete-agenda' a.id_agenda %}">Hapus</a>	</button></td>
	</tr>
	{% endfor %}
</table>
{% endblock content %}