{% extends 'account/base_utama.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mt-5 content">
            <div class="col-lg bg-light pt-5 pl-4 pb-3">
                <img src="{% static 'account/img/jakarta.jpg' %}" alt="">
            </div>
            <div class="col-lg bg-light pt-5 pl-4 pb-3">
                <h1>SELAYANG PANDANG STMIK JAKARTA STI&K</h1>
                <h1>PERGURUAN KOMPUTER TERTINGGI PERTAMA INDONESIA</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rerum architecto labore! Quo, aperiam placeat repudiandae, autem ipsum consectetur, dicta non tenetur cumque nobis quibusdam ut temporibus modi assumenda nesciunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam praesentium suscipit obcaecati natus? Excepturi optio, magnam ducimus autem odio, quidem sapiente alias, itaque corporis rem voluptatibus mollitia cumque vero deleniti.    
                </p>
            </div>
        </div>
    </div>
{% endblock content %}

 