{% extends 'account/base.html' %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> 
<style>
    .input {
        display: grid;
        grid-template-areas: 'brand brand'
                             'kiri kiri';
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        max-width: 50%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        justify-items: center;
        border-radius: 10px;
        font-family: 'Righteous', cursive;
    }
    .brand {
        grid-area: brand;
    }
    .kiri {
        grid-area: kiri;
    }
    .kanan {
        grid-area: kanan;
    }
    h3{
        margin-bottom: 5px;
    }
    form {
        margin-top: -100px;
    }
    input {
        width: 350px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 15pt;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    input:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }
    .footer {
        margin-left: -280px;
        margin-top: 40px;
    }
    button{
        width: 80px;
        height: 30px;
        background-color: rgb(90, 228, 90);
        border: none;
        border-radius: 5px;
        font-family: 'Righteous', cursive;
        font-size: 12pt;
    }
    button:hover{
        background-color: rgb(129, 238, 129);
    }
</style>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input">
            <div class="brand">
                <h1>Jadwal</h1>
            </div>
            <div class="kiri">
                {{form.id_jadwal.errors}}
                <h3>id_jadwal :</h3>
                {{form.id_jadwal}}

                {{form.hari_waktu.errors}}
                <h3>Hari :</h3>
                {{form.hari_waktu}}

                {{form.tempat.errors}}
                <h3>Tempat :</h3>
                {{form.tempat}}
            </div>
            <div class="footer">
                <button type="submit"> Submit</button>
            </div>      
        </div>
        
        
    </form> 

{% endblock content %}