{% extends 'account/base.html' %}
{% block content %}
{% include 'account/tulisan.html' %}
<table>
	<tr><th class="judul">Peserta</th></tr>
	<tr >
		<th style="border-top: 0;"><button><a href="{% url 'create-peserta' %}">Tambah</a></button></th>
	</tr>
	<tr>
		<th>No</th>
		<th>Id Peserta</th>
		<th>Nama</th>
		<th>Email</th>
		<th>Jenjang</th>
		<th>Jadwal 1</th>
		<th>Jadwal 2</th>
		<th>Status</th>
		<th>Aksi</th>
	</tr>
	{% for p in peserta %}
	<tr>   
		<td>{{ forloop.counter }}</td>
		<td>{{ p.id_peserta }}</td>
		<td>{{ p.nama }}</td>
		<td>{{ p.email }}</td>
		<td>{{ p.jenjang }}</td>
		<td>{{ p.jadwal_1 }}</td>
		<td>{{ p.jadwal_2 }}</td>
		<td>{{ p.status }}</td>
		<td><button><a href="{% url 'update-peserta' p.id_peserta %}">Ubah</a></button><button style="margin-left: 2px; background-color: maroon;"><a href="{% url 'delete-peserta' p.id_peserta %}">Hapus</a> </button></td>
	</tr>
	{% endfor %}
</table>
{% endblock content %}